*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: $font1;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.2;
  color: #666666;
  overflow-x: hidden;
}

body {
  padding-top: 80px;

  @include breakpoint-up("md") {
    padding-top: 320px;
  }
}

body * {
  color: #666666;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 1.8rem;
}

a {
  outline: none;
  text-decoration: none;
}

.maintit {
  text-align: center;
  background-image: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAALwAAAAgCAMAAACfM+KhAAACB1BMVEUAAAAEBwcEBwcEBwcEBwcEBwcEBwcEBwcEBwcGCQk3ODk1NTYEBwcEBwcEBwcFCAgEBwcEBwcEBwcEBwdFRkcvLzEEBwcEBwcEBwcEBwcEBwcEBwcEBwcEBwcEBwdFRkg0NDVCQ0QrKSpBQ0Q4OTsEBwcFCAgEBwcEBwcEBwcEBwcEBwcHCgoEBwdDQ0RHSElAQUM3NzlGR0g9PT87PD4zMzQ8PD4tLS5FRkhISEouLzAEBwcEBwc4OjsEBwciIyQZGxwHCQk+Pj9PUFIwLS9DQ0U9PT85Ojs9PT8zMjQ7PD00NDYkJCVDREUjISJAQEI8PT8yMzU3NzknJygSExMpKSodHR45OjsxMjQ6OzwlJCUEBwdHSEo3ODk8PT4EBwcpKSsEBwcGCQkEBwcEBwcHCQkrKy0EBwcsLi8EBwcuMDEiIyTCwsIhIyQEBwc3Njc7Oz0zMjNISUshICFKSkwvLzA/QEIcHB0zMzUwMjMqKyw9PT9BQUMqKSooKSlAQUIaHB00NTcpKSooKCkuLzAkJickJCUxMjNHSEowMTI9Pj8sLC0gIiIEBwc2NzkgHx9FRkc5OTslJygEBwcxMjQMDQ4hICEaHB0EBwcdHR4uLzAeHh8nKSoEBwfCwsJNTU9ISUtTVFZEREZBQUM1MzVQUFJKSkxGRkg/P0E9PD43NjdMTU87OjxVrgaKAAAAnnRSTlMAMy4lMF4ycCge3dWQTkohGRYKAfrXmYh8ZWJCOjcr8+rp5tjYpXp3dVdFEwYC/vbs5uLg29jT09LNybiieUAaDwj8+/f28vHv7+nj4eDg3tvb2dnW1NTTz8vKysa5tK2qqYOAbWpmW1M9PDktLQP69vTq5uTk4uHg39fW0svLxsTCvru6uLizr6ajoZ+fl5aVjYqDcW5tW1RSTC8hEfmy55YAAAJeSURBVFjD7dXFbhsBAATQWbBjZmZmh5mZmZmZyszMzGgM5yOrJqraVD1VOexKfh8wGs1lkJKS8l8Gi5+WLVbg32QfZ0TuEjBWmcrpjKQLn7yX4ii+3udb4C0FCAMYq9Iu2HDFBQWtd4/OLy/l0Fy5cX3BpwBzvRJGT6jitlOj4/iDUmuWUiBlUkkaGOyr2p4XaWzcHY2V4bc5igeKApfUyMFkk678DHtityiWsYxfzH7QAI9PS0RgtJW+zOyoQNhZE7lSiUOVMwiWE4SCDGh5YLabuYXWvWg8JyP6CIfeKGRcADxC/wwM99p1emMvupXIqtuex08cLp8EgDCdxgHDLTbntjlVW4kdW0PTFwAWPUUBkBNEQF8OhltzxQusdQNZO7tNtmtVqNJa+AjThJQnWXdTYLiQoD5nw54vOKeurXW8gM7Il5nFBJesIsiJEP6y+v0Y4DhCVnGgs3ioyJlZvXOxr/9M+zsvRy+hKZ6FJP1eDRivqCUiEHbkdhVcH+7vnR4Z8XL8Ei5tIoIcRt/roYcDbel5kc104Z37wxc0JdOlGo9fDqPSTLOg/MtidXf22INbDfvJyz0enSlMzGrdIo/HIGZB+ZXPH+6dj2xuJfbVJ9VzOumSElAENG7DrAks8HjQ2pHfvJ23KbTJRKaQREFzCdKgAxvwx8dyVNvJ1pgqawhesTwkVkImNk7wwQbLNzK7qpOO2NXC50jjEqDwjSPWkmAH5duWnqSjxnp2HgYjFZQqfCKOEqxRMdnuKOzOXoNFV26yTImCYJVPvZfqbwPhqbSSUjNSUlJSDvwAQ3jLBIdvQgIAAAAASUVORK5CYII=);
  background-position: bottom center;
  background-size: 140px auto;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  text-transform: uppercase;

  @include breakpoint-up("md") {
    background-size: 188px auto;
  }
}

h1,
.h1 {
  font-size: 3.4rem;
  color: #333333;
  font-weight: 700;
  font-family: $font2;

  @include breakpoint-up("xs") {
    font-size: 4.5rem;
  }

  @include breakpoint-up("md") {
    font-size: 5.5rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: Philosopher;
  color: #444444;

  @include breakpoint-up("xs") {
    font-size: 3rem;
  }

  @include breakpoint-up("md") {
    font-size: 4rem;
  }

  strong {
    font-size: 2rem;
    font-weight: 700;
    font-family: Philosopher;
    color: #444444;

    @include breakpoint-up("xs") {
      font-size: 3rem;
    }

    @include breakpoint-up("md") {
      font-size: 4rem;
    }
  }
}

h2.setTitle {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  @include breakpoint-up(large) {
    padding-bottom: 80px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11px;
    width: 120px;
    height: 23px;
    background-image: url("../images/wIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint-up(large) {
      bottom: 22px;
      width: 190px;
    }
  }
}

h3,
.h3 {
  font-size: 1.5rem;
  font-family: Philosopher;

  @include breakpoint-up("xs") {
    font-size: 2.5rem;
  }

  @include breakpoint-up("md") {
    font-size: 3.5rem;
  }

  strong {
    font-size: 1.5rem;
    font-family: Philosopher;

    @include breakpoint-up("xs") {
      font-size: 2.5rem;
    }

    @include breakpoint-up("md") {
      font-size: 3.5rem;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
}

p {
  padding: 8px 0;
  line-height: 1.8;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100% !important;
  position: relative;

  @media only screen and (min-width: 1200px) {
    max-width: 1578px !important;
  }

  ol {
    padding-left: 18px;
  }

  a {
    color: inherit;
    @include transition(0.5s);

    &:hover {
      color: $yellow;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hidden-xs {
  display: block !important;

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.visible-xs {
  display: none !important;

  @media screen and (max-width: 767px) {
    display: block !important;
  }
}

.re_eff {
  opacity: 0;
}

.eff_actived {
  opacity: 1 !important;
}

::placeholder {
  color: #d5d7de;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #d5d7de;
}

::-ms-input-placeholder {
  color: #d5d7de;
}

.kpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -9999999;
  opacity: 0;
  overflow: auto;
  .container{
    position: initial !important;
  }
  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
  }

  &__thanks {
    font-size: 18px;
    padding: 32px;
    text-align: center;
    line-height: 1.5;

    &.none {
      display: none;
    }

    @media screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &.animate__fadeIn {
    z-index: 999999;
    opacity: 1;
  }

  &__buttonclose {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top 13px left 12px;
    border: 1px solid #172345;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      top: -16px;
      right: -16px;
    }
  }

  &__round {
    position: absolute;
    background: #fff;
    display: block;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    box-sizing: border-box;
    width: 90%;
    max-width: 480px;
    z-index: 2;

    &__content {
      padding: 32px 32px;
    }

    &__input {
      @include flex;
      @include flex-wrap;
      @include flex-direction(column);

      label {
        color: #ea97b9;
        text-transform: uppercase;
      }

      input {
        border: 0;
        border-bottom: 1px solid #ea97b9;
        font-size: 14px;
        line-height: 1.5;
        margin: 12px 0;
        padding: 5px 0;
        outline: none !important;

        &.required {
          border-color: red;
        }

        &:disabled {
          background: #fff;
        }
      }

      textarea {
        background: #f7f7f7;
        border: 0;
        padding: 16px 24px;
        min-height: 100px;
        margin: 16px 0;
        outline: none !important;
      }
    }

    &__button {
      background: url("../images/arrow-target-right-white.png") no-repeat #e82a77 left 16px center;
      color: #fff;
      display: block;
      border: 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      box-sizing: border-box;
      height: 50px;
      @include transition_default(0.5s);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__title {
    background: #f7f7f7;
    text-transform: uppercase;
    color: #172345;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding: 16px 16px;
  }
}

.wp-paginate {
  margin: 30px 0 !important;
}

.wp-paginate.font-inherit {
  text-align: center;
}

.wp-paginate.wpp-modern-grey a,
.wp-paginate.wpp-modern-grey .current {
  padding: 10px 12px !important;
}

.wp-block-embed,
.wp-block-image {
  margin: 16px 0 !important;
}

.owl-carousel .owl-stage {
  margin: 0 auto !important;
}

#ez-toc-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.aligncenter {
  img {
    border: 1px solid #bcbcbc;
    padding: 10px;
    box-sizing: border-box;
    margin: 16px 0 0 0;
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }
}

.wp-block-embed-youtube iframe {
  width: 100%;
  height: 480px;
}

.button-more {
  display: block;
  width: 266px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  text-align: center;
  line-height: 1.3;
  padding: 16px;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.1125rem;
  @include transition(0.3s);
  text-transform: uppercase;
  max-width: 100%;

  &:hover {
    background-color: $yellow;
    color: #fff !important;
  }
}

#breadcrumbs {
  border-top: 1px solid $gray;
  margin: 32px 0 0 0;
  border-bottom: 1px solid $gray;

  @include breakpoint-up(md) {
    text-align: center;
  }

  a,
  span {
    font-size: 1rem;
    text-transform: uppercase;

    @include breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
}

.button {}

//Reuse the carousel dots section
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: $yellow !important;
}

input, textarea, select{
  font-family: inherit !important;
}