@charset "utf-8";
$font1: "Montserrat", sans-serif;
$font2: Philosopher;
$yellow: #eccc80;
$suboclor: #bcbcbc;
$darkback: #1a1a1a;
$black: #333333;
$black_light: #444444;
$grey: #f7f7f7;
$white_grey: #aaaaaa;
$gray: #e6e6e6;
$white: #ffffff;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
@mixin transition($param) {
  -webkit-transition: $param;
  -moz-transition: $param;
  -o-transition: $param;
  transition: $param;
}
@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction($param) {
  -moz-flex-direction: $param;
  -webkit-flex-direction: $param;
  flex-direction: $param;
}
@mixin flex-wrap {
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin justify-content($param) {
  -moz-justify-content: $param;
  -webkit-justify-content: $param;
  justify-content: $param;
}
@mixin align-items($param) {
  -webkit-align-items: $param;
  align-items: $param;
}
@mixin transition_default($x) {
  -webkit-transition: all $x ease-out !important;
  -moz-transition: all $x ease-out !important;
  -ms-transition: all $x ease-out !important;
  -o-transition: all $x ease-out !important;
  transition: all $x ease-out !important;
}
@mixin box-shadow($param) {
  -webkit-box-shadow: $param;
  -moz-box-shadow: $param;
  box-shadow: $param;
}
@mixin transform($param) {
  -webkit-transform: $param;
  -moz-transform: $param;
  -ms-transform: $param;
  -o-transform: $param;
  transform: $param;
}

$breakpoints-up: (
  "xs": "576px",
  "sm": "768px",
  "md": "992px",
  "lg": "1200px",
);

$breakpoints-down: (
  "xs": "575px",
  "sm": "767px",
  "md": "991px",
  "lg": "1199px",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
