.kpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -9999999;
  opacity: 0;
  overflow: auto;

  .container {
    position: initial !important;
  }

  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
  }

  &__content {
    font-size: 18px;
    padding: 2rem;
    min-height: 120px;
    text-align: center;
    line-height: 1.5;

    &.none {
      display: none;
    }

    @media screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &.animate__fadeIn {
    z-index: 999999;
    opacity: 1;
  }

  &__buttonclose {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top 12px left 11.5px;
    border: 1px solid #172345;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      top: -16px;
      right: -16px;
    }
  }

  &__round {
    position: absolute;
    background: #fff;
    display: block;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    box-sizing: border-box;
    width: 90%;
    max-width: 480px;
    z-index: 2;

    &__content {
      padding: 32px 32px;
    }

    &__input {
      @include flex;
      @include flex-wrap;
      @include flex-direction(column);

      label {
        color: #ea97b9;
        text-transform: uppercase;
      }

      input {
        border: 0;
        border-bottom: 1px solid #ea97b9;
        font-size: 14px;
        line-height: 1.5;
        margin: 12px 0;
        padding: 5px 0;
        outline: none !important;

        &.required {
          border-color: red;
        }

        &:disabled {
          background: #fff;
        }
      }

      textarea {
        background: #f7f7f7;
        border: 0;
        padding: 16px 24px;
        min-height: 100px;
        margin: 16px 0;
        outline: none !important;
      }
    }

    &__button {
      background: url("../images/arrow-target-right-white.png") no-repeat #e82a77 left 16px center;
      color: #fff;
      display: block;
      border: 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      box-sizing: border-box;
      height: 50px;
      @include transition_default(0.5s);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__title {
    background: #f7f7f7;
    text-transform: uppercase;
    color: #172345;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding: 16px 16px;
  }
}

//Main Popup Cover
.main__popup {
  .contactForm {
    margin: 20.5rem auto 0 auto;
    max-width: 70%;
  }

  .kpopup__round {
    max-width: 340px;
  }

  .kpopup__content {
    width: 100%;
    height: 638px;
    background: url('../images/popup.jpg') no-repeat;
    background-size: 100%;
    box-sizing: border-box;

  }

  .form__input {
    margin-top: 0.5rem;
    border-radius: 5px;
  }
  .contactForm__input {
    padding: 0.8rem 0.5rem !important;
    border: 1px solid #2e1e5d !important;
    border-radius: 5px;
  }
  .contactForm__submit {
    // max-width: 150px;
    height: 27px;
    width: 118px;
    border-radius: 20px;
    // padding: 0.5rem 0;
    color: #172345;
    // background: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    @include transition_default(0.3s);
    background: url(../images/button-popup.png) no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
    &:hover {
      // background: $yellow;
      // color: $white;
      opacity: 0.8;
    }
  }
}
.contactForm{
  &__input{
    &.required {
      border-color: red !important;
    }
  }
}