.enjoy-the-difference {
  &__title {
    margin-top: 32px;
    @include breakpoint-up(md) {
      margin-top: 120px;
    }
  }

  &__slider {
    margin-top: 44px;
    @include breakpoint-up(md) {
      margin-top: 60px;
    }
    .owl-dots {
      padding-top: 20px;
      @include breakpoint-up(md) {
        padding-top: 60px;
      }
    }
  }

  &__item {
    &__img {
    }
  }
}
