.appointment {
  &__container {
    max-width: 1240px !important;
    margin-top: 78px;
    @include breakpoint-up(sm) {
      @include flex;
    }
  }

  &__title {
    @include breakpoint-down(sm) {
      font-size: 3rem;
    }
  }

  &__image-wrapper {
    margin-top: 84px;

    position: relative;
    height: 666px;
    @include breakpoint-up("sm") {
      width: 50%;
      margin-top: 0;
      order: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));

      height: 350px;
      width: 50%;
      border: 9px solid $yellow;
      z-index: 1;
    }
  }

  &__image1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &__image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  &__register {
    @include breakpoint-up(sm) {
      width: 50%;
      order: 2;
    }
    &__wrapper {
      padding: 0 46px;
      @include breakpoint-up(lg) {
        // margin-top: 34px;
        max-width: 800px;
        @include flex;
        @include flex-wrap;
        margin-left: -2rem;
      }
    }

    &__input-wrapper {
      width: 100%;
      height: 54px;
      margin:1rem 0;
      @include breakpoint-up(lg) {
        height: 48px;
        padding: 0 2rem;
        width: 50%;
      }
    }

    &__input {
      width: 100%;
      height: 46px;
      padding-left: 1rem;
      padding-right: 1rem;
      border: none;
      outline: none;
      border-bottom: 1px solid $black_light;
      color: $black;
      font-size: 1.5rem;
      font-family: Montserrat;
      &::placeholder {
        color: $black;
        font-size: 1.5rem;
      }
      &.area-input {
        margin-top: 10px;
        height: 60px;

        &::placeholder {
          color: $black;
          font-size: 1.5rem;
        }
      }
    }

    &__area-wrapper {
      width: 100%;
      margin: 1rem 0;
      @include breakpoint-up(lg) {
        padding: 0 2rem;
        .appointment__register__input{
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }

    &__submit-wrapper {
      padding: 0 46px;
      @include breakpoint-up(md) {
        margin-top: 20px;
      }
    }

    &__submit {
      margin: 28px 0;
      border: 2px solid $grey;
      background-color: $white;
      border-radius: 50px;
      width: 230px;
      height: 50px;
      font-size: 2rem;
      font-weight: 700;
      color: $black;
      cursor: pointer;
    }
    &__time-window {
      padding: 10px 46px;
    }
  }
}
