.service{
    &--tit{
        
    }
    &__aside{
        padding: 50px 0 80px 0;
    }
    &__cate{
        img{
            margin: 0 auto;
        }
        &--tit{
            text-align: center;
        }
    }
    &__list{
        width: 100%;
        @include breakpoint-up(sm){
            @include flex;
            @include flex-wrap;
            margin: 80px 0 0 0;
        }
        &__item{
            width: 100%;
            max-width: 480px;
            text-align: center;
            padding: 16px 0;
            box-sizing: border-box;
            @include breakpoint-up(sm){
                padding: 32px 16px;
                border-left: 1px solid $grey;
                width: 50%;
                max-width: 100%;
            }
            @include breakpoint-up(md){
                @include flex;
                @include align-items(center);
                padding: 32px;
            }
            @include breakpoint-up(lg){
                width: 33.333%;
                &:nth-child(3n + 1){
                    border-left: 0;
                }
            }
            &--tit{
                padding: 16px 0 0;
                @include breakpoint-up(md){
                    font-size: 2.5rem;
                    letter-spacing: 1px;
                }
            }
            &--thumb{
                border-radius: 50%;
                height: 220px;
                width: 220px;
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 10px;
                background: $grey;
                img{
                    position: absolute;
                    top: calc(50% - 10px);
                    left: calc(50% - 10px);
                    @include transform(translate(calc(-50% + 10px),calc(-50% + 10px)));
                    height: calc(100% - 20px);
                    max-width: calc(100% - 20px);
                    border-radius: 50%;
                    border: 1px solid $white;
                }
            }
            &--content{
                @include breakpoint-up(md){
                    width: calc(100% - 220px);
                    padding: 0 0 0 16px;
                }
                .button-more{
                    margin: 16px auto 0 auto;
                }
            }
            
        }
    }
}